@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url('https://cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');
@import 'tailwindcss';

@theme {
  --font-main:
    'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  --font-sub:
    'Iropke Batang', 'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', Helvetica, Arial,
    sans-serif;

  --color-black-100: #f9f9f9;
  --color-black-200: #6b6b6b;
  --color-black-300: #3e3e3e;
  --color-black-400: #525252;
  --color-black-500: #454545;
  --color-black-600: #373737;
  --color-black-700: #2b2b2b;
  --color-black-800: #1f1f1f;
  --color-black-900: #121212;
  --color-black-950: #050505;

  --color-white: #ffffff;

  --color-gray-100: #dedede;
  --color-gray-200: #c4c4c4;
  --color-gray-300: #ababab;
  --color-gray-400: #919191;

  --color-blue-200: #eceff4;
  --color-blue-300: #cbd3e1;
  --color-blue-400: #abb8ce;
  --color-blue-500: #8b9dbc;
  --color-blue-600: #6a82a9;
  --color-blue-700: #52698e;
  --color-blue-800: #40516e;
  --color-blue-900: #2d394e;
  --color-blue-950: #1a212d;

  --color-background: #f5f7fa;

  --color-line-white: #f2f2f2;
  --color-line-blue: #cfdbea;

  --color-illustration-yellow: #fbc85b;
  --color-illustration-sub-yellow: #e8aa26;
  --color-illustration-green: #48bb98;
  --color-illustration-purple: #8e80e3;
  --color-illustration-blue: #5195ee;
  --color-illustration-sub-blue1: #3e3e3e;
  --color-illustration-sub-blue2: #3e414d;
  --color-illustration-sub-blue3: #494d59;
  --color-illustration-red: #e46e80;
  --color-illustration-brown: #9a695e;
  --color-illustration-sub-gray1: #c7d1e0;
  --color-illustration-sub-gray2: #e3e9f1;
  --color-illustration-sub-gray3: #eff3f8;

  --color-state-error: #ff6577;
}

@utility text-main-3xl-bold {
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
}
@utility text-main-3xl-semibold {
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
}

@utility text-main-2xl-bold {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@utility text-main-2xl-semibold {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
@utility text-main-2xl-medium {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}
@utility text-main-2xl-regular {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

@utility text-main-xl-bold {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
}
@utility text-main-xl-semibold {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}
@utility text-main-xl-medium {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
}
@utility text-main-xl-regular {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

@utility text-main-2lg-bold {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
@utility text-main-2lg-semibold {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}
@utility text-main-2lg-medium {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}
@utility text-main-2lg-regular {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

@utility text-main-lg-bold {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
}
@utility text-main-lg-semibold {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}
@utility text-main-lg-medium {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}
@utility text-main-lg-regular {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

@utility text-main-md-bold {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}
@utility text-main-md-semibold {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}
@utility text-main-md-medium {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}
@utility text-main-md-regular {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

@utility text-main-sm-semibold {
  font-size: 13px;
  line-height: 22px;
  font-weight: 600;
}
@utility text-main-sm-medium {
  font-size: 13px;
  line-height: 22px;
  font-weight: 500;
}

@utility text-main-xs-semibold {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}
@utility text-main-xs-medium {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}
@utility text-main-xs-regular {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

@utility text-sub-4xl {
  font-size: 40px;
  line-height: 52px;
}
@utility text-sub-3xl {
  font-size: 32px;
  line-height: 48px;
}
@utility text-sub-2xl {
  font-size: 24px;
  line-height: 40px;
}
@utility text-sub-xl {
  font-size: 20px;
  line-height: 28px;
}
@utility text-sub-lg {
  font-size: 16px;
  line-height: 26px;
}
@utility text-sub-md {
  font-size: 14px;
  line-height: 26px;
}
@utility text-sub-sm {
  font-size: 13px;
  line-height: 20px;
}
@utility text-sub-xs {
  font-size: 12px;
  line-height: 18px;
}
